[submodule "cav-hoomd"]
	path = cav-hoomd
	url = https://github.com/muhammadhasyim/cav-hoomd.git
[submodule "i-pi"]
	path = i-pi
	url = https://github.com/i-pi/i-pi.git
[submodule "openmm-ml"]
	path = openmm-ml
	url = https://github.com/muhammadhasyim/openmm-ml

[submodule "LES-BEC"]
	path = LES-BEC
	url = https://github.com/BingqingCheng/LES-BEC.git
